#!/bin/bash

echo ...Sourcing .aliases

alias as='cd $LING_PATH/analytics-server'
alias be='bundle exec'
alias bmfh='cd $DEV_PATH/bayesian-methods-for-hackers'
alias bl='cd $DEV_PATH/edderic.github.io'
alias bu='bundle'
alias clb='ruby ~/.edderic-dotfiles/bin/cleanup_local_branches.rb'
alias cr='ctags --recurse .'
alias calreact='cd $DEV_PATH/calreact'
alias dev='cd $DEV_PATH'
alias dt='cd $LING_PATH/dev-tools'
alias ea='vim ~/.edderic-dotfiles/.aliases'
alias eb='vim ~/.bash_profile'
alias ec='vim ~/.ssh/config'
alias ep='vim ~/.pgit.rc.yml'
alias exu='be rake export:unfulfilled_requests'
alias ewa='cd $LING_PATH/exercise-web-app'
alias fa='cd $DEV_PATH/from-algorithms-to-z-scores'
alias ga.='git add .'
alias ga='git add'
alias gap='git add --patch'
alias gbr='git branch'
alias gc='git commit'
alias gca='git commit -a'
alias gco='git checkout'
alias gcob='git checkout -b'
alias gd='git diff'
alias gdc='git diff --cached'
alias gf='git fetch'
#alias git='hub' has go-related issues
alias gl='git log'
alias gpl='git pull'
alias gplom='git pull origin master'
alias gpsh='git push origin HEAD'
alias gpsom='git push origin master'
alias grl='git reflog'
alias gsh='git show'
alias gst='git status'
alias he='cd $DEV_PATH/health'
alias hw='cd $DEV_PATH/code-for-princeton/help-wanted/'
alias ia='cd $DEV_PATH/investwell-architects-jekyll'
alias int='cd $DEV_PATH/interactive'
alias islr='cd $DEV_PATH/intro-to-statistical-learning/ISLR-python'
alias julia="exec '/Applications/Julia-0.4.0.app/Contents/Resources/julia/bin/julia'"
alias jn="jupyter notebook"
alias ks="ruby -e 't = \`ps aux |grep spring\`; puts t.split(\"\n\").reject{|i| i.scan(/grep/).any? }.map{|col| col.split(\" \")[1]}.each{|id| \`kill -9 #{id}\`}'"
alias kr="ruby -e '\`ps aux | grep rails\`.split(\"\n\").map{|i| i.split(\" \")[1]}.each {|i| \`kill -9 #{i}\`}'"
alias ll='cd $DEV_PATH/lingo-live/lingolive'
alias lee='cd $LING_PATH/Lingraphica-Exercise-Editor'
alias me='cd $LING_PATH/metrics'
alias mlnd='cd $DEV_PATH/udacity/machine-learning-nanodegree'
alias mrp='meteor run --settings settings/development.json'
alias nma='cd $LING_PATH/news-mobile-app-cdv'
alias notes='cd $DEV_PATH/notes/'
alias nwa='cd $LING_PATH/news-web-app'
alias pdl='cd $DEV_PATH/practical-deep-learning-for-coders'
alias pgbr='pgit branch'
alias pgst='pgit status'
alias pgt='cd $DEV_PATH/pgit'
alias psg='ps aux |grep'
alias pss='pgit story_branch -s'
alias rap='rake assets:precompile'
alias rmp='bundle exec rake db:migrate && bundle exec rake db:test:prepare'
alias rp='bundle exec rake devs:replace_passwords'
alias rrg='bundle exec rake routes |grep'
alias rspec='bundle exec rspec'
alias rtw='rake trim_whitespace'
alias sa='ssh-add ~/.ssh/id_rsa'
alias sb='source ~/.bash_profile'
alias sc='cd $DEV_PATH/scratch'
alias sd='cd ~/Developer/startup-datascience'
alias sshml="ssh edderic@$EDDERIC_DESKTOP_EXTERNAL_IP"
alias sshnb="ssh -NL 8157:localhost:8157 edderic@$EDDERIC_DESKTOP_EXTERNAL_IP"
alias sshmll="ssh edderic@$EDDERIC_DESKTOP_INTERNAL_IP"
alias sshnbl="ssh -NL 8157:localhost:8157 edderic@$EDDERIC_DESKTOP_INTERNAL_IP"
alias teo='cd $LING_PATH/Therapy-Exercises-Online'
alias todo='cd $DEV_PATH/todo; vim todo.markdown'
alias tss="tmux list-sessions | sed -E 's/:.*$//' | grep -v \"^(tmux display-message -p '#S')\$\"| fzf --reverse | xargs tmux switch-client -t"
alias wm='cd ~/Developer/data-for-democracy/womens-march'
alias ysh='yarn serve:hosting'
