#!/bin/bash

echo ...Sourcing .aliases

alias as='cd $LING_PATH/analytics-server'
alias be='bundle exec'
alias bl='cd $DEV_PATH/edderic.github.io'
alias bu='bundle'
alias cb='cordova build'
alias dev='cd $DEV_PATH'
alias dt='cd $LING_PATH/dev-tools'
alias ea='vim ~/.edderic-dotfiles/.aliases'
alias eb='vim ~/.bash_profile'
alias ec='vim ~/.ssh/config'
alias ep='vim ~/.pgit.rc.yml'
alias ewa='cd $LING_PATH/exercise-web-app'
alias ga.='git add .'
alias ga='git add'
alias gap='git add --patch'
alias gbr='git branch'
alias gc='git commit'
alias gca='git commit -a'
alias gco='git checkout'
alias gcob='git checkout -b'
alias gd='git diff'
alias gdc='git diff --cached'
alias gf='git fetch'
alias git='hub'
alias gl='git log'
alias gpl='git pull'
alias gplom='git pull origin master'
alias gpsh='git push origin HEAD'
alias gpsom='git push origin master'
alias grl='git reflog'
alias gsh='git show'
alias gst='git status'
alias hw='cd $DEV_PATH/code-for-princeton/help-wanted/'
alias ia='cd $DEV_PATH/investwell-architects-jekyll'
alias int='cd $DEV_PATH/interactive'
alias inj='ipython notebook --profile julia'
alias julia="exec '/Applications/Julia-0.4.0.app/Contents/Resources/julia/bin/julia'"
alias lee='cd $LING_PATH/Lingraphica-Exercise-Editor'
alias me='cd $LING_PATH/metrics'
alias mrp='meteor run --settings settings/development.json'
alias nma='cd $LING_PATH/news-mobile-app-cdv'
alias notes='cd $DEV_PATH/notes/'
alias nwa='cd $LING_PATH/news-web-app'
alias pgbr='pgit branch'
alias pgst='pgit status'
alias pgt='cd $DEV_PATH/pgit'
alias psg='ps aux |grep'
alias pss='pgit story_branch -s'
alias rap='rake assets:precompile'
alias rmp='rake db:migrate && rake db:test:prepare'
alias rrg='rake routes |grep'
alias rspec='bundle exec rspec'
alias rtw='rake trim_whitespace'
alias sb='source ~/.bash_profile'
alias teo='cd $LING_PATH/Therapy-Exercises-Online'
alias tss="tmux list-sessions | sed -E 's/:.*$//' | grep -v \"^(tmux display-message -p '#S')\$\"| fzf --reverse | xargs tmux switch-client -t"
